body{
  background-color:#484ef6;
}
.register-container{
  width: 100%;
  max-width: 1120px;
  height: 120vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.register-container .content{
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, .1);
  border-radius: 8px;
  display: flex;
  justify-content:  space-between;
  align-items: center;
}

.register-container .content section{
  width: 100%;
  max-width: 380px;
}

.register-container .content section h1{
  margin: 64px 0 32px;
  font-size: 32px;
}

.register-container .content section p{
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.register-container .content form{
  width: 100%;
  max-width: 450px;
  
}

.register-container .content form input{
  margin-top: 8px;
  width: 75%;
  border-radius: 4px;
  border: 1px solid #9c9c9c;
  padding: 20px;
}


.register-container .content label {
  margin-top: 10px;
  text-align: left;
  display: block;
 
}
.register-container .content button{
  margin-top: 8px;
  width: 84.8%;
  border-radius: 4px;
  border: 1px solid #9c9c9c;
  cursor: pointer;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  transition: 0.2s;
}

.register-container .content button:hover{
  background-color:#484ef6 ;
}
.register-container  .content .back{
  text-align: center;
}

.register-container .content .back-link{
  text-decoration: none;
  color: #737380;
  transition: 0.3s;
}

.register-container .content .back-link:hover{
  color: black;
  text-decoration: underline #484ef6;
  font-weight: bold;
}

